<div class="ui vertical pointing menu admin-menu" style="margin: 0;">
    <a class="item" href="/admin">
        |Home
    </a>
    <a class="item" href="/admin/users">
        |Users Manage
    </a>
    <a class="item" href="/admin/item/upload">
        |Items Manage
    </a>
</div>