extends layout

block content
    .login_wrapper
        .ui.middle.aligned.center.grid
            .column
                form.ui.large.form(method="post" action="/")
                    .ui.stacked.segment
                        .field
                            .ui.input
                                input(type="text" name="user_id" placeholder="User ID")
                        .field
                            .ui.input
                                input(type="password" name="user_pass" placeholder="Password")
                        input.ui.fluid.large.teal.submit.button(type="submit" value="Login")
                        if message
                            .ui.error.message.text-align-center(style="display: block;")
                                | #{message}
        .ui.message.text-align-center
            | New to us?
            a(href="/sign-up")   Sign Up
    link(rel="stylesheet" href="/semantic/semantic.min.css")
    script(src="/javascripts/index.bundle.js")
