$header-height: 3rem;
$header-font-size: 2rem;
$header-font-margin: ($header-height - $header-font-size) / 2;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #fffaf3;
}

header {
    width: 100%;
    height: $header-height;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: $header-font-size;
    display: flex;
    justify-content: space-between;
    & > * {
        margin: $header-font-margin;
    }
}

.right {
    & > a {
        text-decoration: none;
        color: white;
        font-size: $header-font-size * 0.7;
    }
}