mixin card(card_title, card_idx)
    .card-wrapper(draggable="true", data-idx=card_idx)
        .card-icon 📑
        .card-main-wrapper
            .card-title #{card_title}
            .card-who 
                |Added by 
                span.card-who-name
        .card-menu-btn &hellip;