mixin card(card_title)
    .card-wrapper
        .card-icon 📑
        .card-main-wrapper
            .card-title #{card_title}
            .card-who 
                |Added by 
                span.card-who-name
        .card-menu-btn &hellip;