include card-mixin

mixin column(column_name, column_idx, card_name)
    li.column-wrapper(draggable="true", data-idx=#{column_idx})
        .column-head
            .column-name #{column_name}
            .column-head-btns
                .column-add-btn +
                .column-menu-btn &hellip;
        .column-main
            +card(card_name)
            +card(card_name)
            +card(card_name)
            +card(card_name)
            +card(card_name)
            +card(card_name)
            +card(card_name)
            +card(card_name)
            +card(card_name)
            +card(card_name)
            