include card-mixin

mixin column(column_name, column_idx, card_name)
    li.column-wrapper(draggable="true", data-idx=column_idx)
        .column-head
            .column-name #{column_name}
            .column-head-btns
                .column-add-btn +
                .column-menu-btn &hellip;
        .column-main
            +card(card_name, 0)
            +card(card_name, 1)
            +card(card_name, 2)
            +card(card_name, 3)
            +card(card_name, 4)
            +card(card_name, 5)
            +card(card_name, 6)
            +card(card_name, 7)
            +card(card_name, 8)
            +card(card_name, 9)
            